* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pai {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pai > p {
  background-color: antiquewhite;
  padding: 10px;
}